/calibre_plugin/*.zip
/calibre_plugin/keyextract/*.exe
/calibre_plugin/module_id.txt
/calibre_plugin/__pycache__
/calibre_plugin/*.pyc
/calibre_plugin.zip
/devel
/deps
/releases
/adobe_account_backup_*.zip
.idea
.vscode
.devcontainer